*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    height: 100%;
}
nav{
    display: flex;
    width: 100%;
    padding: 2%;
    text-align: right;
    background-color: #714ff8;
    position: sticky;
    top: 0%;
}
main{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
svg{
    width: 5%;
    height: 5%;
}
a{
    text-decoration: none;
    font: 200;
    font-family: sans-serif;
    color: white;
    padding: 2rem;
    cursor: pointer;
}
a:hover{
    color: #36286b;
}
.container{
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: #714ff8;
    border-radius: 0 0 150px 150px;
    color: white;
}
    h1{
        font-size: 10rem;
        font-family: sans-serif;
        padding: 2%;
        padding: 0;
        letter-spacing: 2px;
    }
    p{
        font-size: 22px;
        font-family: sans-serif;
        padding-top: 2%;
        line-height: 2rem;
        font-weight: lighter;
        letter-spacing: 1px;
    }


.container-2{
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
}
img{
    width: 40%;
}
.content{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 5rem;
}
h1{
    font-size: 3rem;
    text-transform: capitalize;
}
#p{
    font-family:'Segoe UI';
    font-size: 20px;
    padding-top: 4rem;
    line-height: 2rem;
}
.input{
    padding-top: 4rem;
}
input{
    
    padding: 1rem;
    border-radius: 30px;
    width: 50%;
    border: 1px solid;
}
button{
    padding: 1rem;
    border-radius: 30px;
    width: 20%; 
    background-color: #714ff8; 
    border: none;
    color: white;   
}
button:hover{
    background-color: #583dc0;
}
.container-3{
    width: 100%;
    height: 100%;
    padding: 5%;
    padding-bottom: 15%;
    display: flex;;
    gap: 2rem;
    

}
#card{
    padding: 2%;
    width:50%;
    height: 50%;   
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
/*
.box{
    width: 100%;
    height: 100%;
}

.container-3{
  margin: 20px auto;
  padding: 5%;
  width:400px;
  height:400px;
  background-color:#fff;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
 
}
.card{
    background-color:#333;
    width: 50%;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
  }
*/

#icon{
    width: 25%;
    padding: 2%;
}
#btn{
    padding: 2%;
    
}
#info{
    color: #714ff8;
    text-align: left;
    padding-left: 0%;
    padding: 0%;
}
h2{
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding: 2%;
}
#p2{
    font-size: 16px;
    padding: 2%;
}
footer{
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: #714ff8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    padding: 2%;
    color: #ffffff;
    font-size: 25px;
    font-family: sans-serif;

}
.input-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.ip{
    padding: 1rem;
    border-radius: 30px;
    width: 20%;
    border: 1px solid;
    border: none;
}
.btn-2{
    width: 10%;
    background-color:#583dc0;
    color: white;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: #714ff8;
}


